<div class="player">
    <audio #audioPlayer>
        <source #audioSource src=""/>
    </audio>
    <div style="display: flex">
        <i class="material-icons clickable" (click)="play()" style="margin-left:20px">play_circle_filled</i>
        <i class="material-icons clickable" (click)="pause()">pause_circle_filled</i>
        <div *ngIf="album" style="display: flex">
            <div style="width: 3rem;height:3rem;margin-left:20px"><img src="{{album.albumArt}}/preview"></div>
            <div style="display: flex;flex-direction: column;margin-left:20px">
                <span style="font-size:1rem">{{track.title}} - {{album.name}}</span>
                <span style="font-size:0.9rem;color:rgb(175,175,175)">{{album.artist}}</span>
            </div>
        </div>
    </div>

</div>