body {
    background-color: rgb(19, 19, 19);
    color: rgb(255, 255, 255);
    font-family: "Lucida Grande";
}

img {
    width: 100%;
    height: auto;
}

.btn {
    background-color: rgb(40,40,40);
}

tbody>tr .material-icons {
    color: rgba(255, 255, 255, 0.3);
}

tbody>tr .material-icons:hover {
    color: rgba(255, 255, 255, 1);
}

tbody>tr .material-icons:active {
    color: rgba(255, 255, 255, 0.3);
}