body {
    background-color: rgb(19, 19, 19);
    color: rgb(255, 255, 255);
    font-family: "Lucida Grande";
}

img {
    width: 100%;
    height: auto;
}

.btn {
    background-color: rgb(40,40,40);
}

.clickable:hover {
    cursor: hand;
}